* {
    margin: 0;
    padding: 200;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    background: #F5F0A9;
}

header {
    background: #F0F0C0;
}

body {
    background: #FCF9EB;
}
